<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">  
        <group android:checkableBehavior="single">  
    <item  
    android:id="@+id/navRecentCalls"  
    android:title="Llamadas Recientes" />  
    <item  
    android:id="@+id/navBloquedNumbers"  
    android:title="Números Bloqueados"/>  
    <item  
    android:id="@+id/navLog"  
    android:title="Llamadas Bloqueadas"/>  
        </group>  
    </menu>   
